/*
/*/
*/.env*
!aerospace/
aerospace/aerospace.toml
!bin/
!polybar/
!skhd/
!yabai/
!tmux/
tmux/plugins/
!nvim/
nvim/lazy-lock.json
!kitty/
nvim/plugin/
!snippets/
!sketchybar/
!zsh/
!i3/
!randy/
!rofi/
!readme.md
!vscode/
!.gitignore
!ghostty/
!thegrid/
!services/
services/logs/
!app-launchers/
!.damachine.example
!.doc/
.damachine
